@import "normalize";
@import "settings";

// Make sure the charset is set appropriately
@charset "UTF-8";
$body-font-family: "Exo 2", sans-serif;
// Behold, here are all the Foundation components.
@import
  "foundation/components/grid",
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/icon-bar",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/range-slider",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switches",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

  @import "appstyles";
$bg : #222;
$blue : #47BBB3;
$purple : #9C4274;
$orange : #EC663C;
$yellow : #FFA73D;
body {
  background-color: $bg;
  color: white;
}
.top {
  @include grid-row();
  padding-top: 2rem;
  height: 50%;
  max-width: none;
  .left {
    @include grid-column(6);
    height: 100%;
    //background-color: red;
    h1 {
      color: $blue;
      font-size: 4rem;
    }
    .counter .inner {
      background-color: $blue;
    }
  }
  .right {
    @include grid-column(6);
    background-color: blue;
  }    
}
.bottom {
  @include grid-row();
  height: 50%;
  max-width: none;
  .left {
    @include grid-column(6);
    background-color: red;
  }
  .right {
    @include grid-column(6);
    background-color: blue;
  }    
}

.counter {
  .inner {
/*    margin-left: 0.05rem;
    margin-right: 0.05rem;*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  h2 {
    color: rgba(255,255,255,0.7);
    font-size: 1.75rem;
    text-align: center;
  }
  p {
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }
}